.side-menu{
  width: 20%;
  background-color: pink;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  padding: 45px 25px;
}

input[type=search] {
  height: 4vh;
  width: 15vw;
  border-radius: 15px;
  border: none;
  -webkit-appearance: none;
  padding: 5px 10px;
  font-size: 1em;
}

.list {
  padding: 1rem
}

.listItem {
  list-style: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top:1rem;
  cursor: pointer;
  color: white;
}

/* .search-icon {
        position: relative;
        color: white;
        padding: 7px;
    } */
